
div.banner{
	position: relative;
	display: flex;
	width: 1349px;
	height: 337px;	
	background-image: url(./Image/pattern.jpg);
	background-size: cover;
	background-position: -10px;
}

div.banner h1{
	font-size: 36px;
    font-weight: 600;
    margin-bottom: 20px;
    line-height: 1.1;
    word-wrap: break-word;
    text-align:center;
    margin-top: 0;
}

.icon-after{
	position: relative;
	color: #949494;
}
.icon-after:hover{
	color: #000;
}
.icon-after::after{
	color: #949494 !important;
	content: "\f105";
	padding: 0 7px;
	font-family: fontAwesome;
    font-weight: 600;
}

.banner li span{
	display: inline;
	font-size: 15px;
	line-height: 1;
}
